{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="min-h-screen bg-gray-900 flex-col text-base text-white flex items-center justify-start">
        <h1 class="text-2xl text-orange-600 tracking-widest my-8 font-bold text-center">
            Django Tweet Form
        </h1>
        <div class="flex justify-center">
            <div class="w-full max-w-lg bg-gray-800 p-8 rounded-lg shadow-lg">
                <h2 class="text-2xl text-center mb-6 text-orange-400">
                    {% if form.instance.pk %}
                        Edit Tweet
                    {% else %}
                        Create Tweet
                    {% endif %}
                </h2>

                <form class="text-base" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="space-y-4 text-white text-base font-bold text-center ">
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="w-full mt-4 bg-orange-500 hover:bg-orange-600 text-white font-semibold py-2 px-4 rounded-lg transition duration-300 ease-in-out">
                        Submit
                    </button>
                </form>

                <div class="mt-4 text-center">
                    <a href="{% url 'tweet_list' %}" class="text-orange-400 hover:text-orange-500">
                        Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
